.team__button {
  margin: 0;
  padding: 0;
  position: absolute;
  border: none;
  background-color: #001337;
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(224, 240, 255, 0.1);
}

@media (max-width: 1261px) {
  .team__button {
    display: none;
  }
}
