.team__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-self: center;
}


@media (max-width: 1109px) {
  .team__list {
    max-width: 820px;
    padding: 0 16px 0;
  }
}

@media (max-width: 820px) {
  .team__list {
    max-width: 480px;
    padding: 0 16px 0;
  }
}

@media (max-width: 690px) {
  .team__list {
    padding: 0 16px 0;
    max-width: 288px;
  }
}




