.lab__texts {
  max-width: 540px;
  margin-right: 30px;
}

@media screen and (max-width: 975px) {
  .lab__texts {
    min-width: 330px;
    flex-shrink: 2;
  }
}

@media screen and (max-width: 480px) {
  .lab__texts {
    min-width: 288px;
  }
}
