.project__pagination-item {
  margin: 0 29px 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.project__pagination-item:last-child {
  margin: 0;
}

@media (max-width: 1109px) {
  .project__pagination-item {
    margin: 0 46px 0 0;
  }
}

@media (max-width: 689px) {
  .project__pagination-item {
    margin: 0 25px 0 0;
  }
}
