.header__menu-item {
  list-style-type: none;
  position: relative;
  margin-left: 20.83px;
}

.header__menu-item:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 1053px) {
  .header__menu-item {
    margin-left: 10px;
  }
}

.header__menu-item:hover .header__submenu {
  display: block;
  box-shadow: inset 0px 2px 0px var(--color-emerald);

}
