.popup-lab__list-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #000000;
  margin: 0;
}

@media screen and (max-width: 938px) {
  .popup-lab__list-item {
    font-size: 14px;
    line-height: 19px;
    padding-left: 3px;
  }
}
