.header__menu-link_type_submenu {
  width: 120px;
  text-align: start;
  padding: 0 8px;
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
}

.header__menu-link_type_submenu:hover {
  background: var(--color-emerald);
}

@media screen and (max-width: 1053px) {
  .header__menu-link_type_submenu {
    max-width: 100%;
  }
}
