.about__descr {
  margin: 0 auto 30px;
  max-width: 900px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: var(--color-white);
}

@media (max-width: 1023px) {
  .about__descr {
    font-size: 14px;
    line-height: 20px;
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  .about__descr {
    margin: 0 39px 30px;
  }
}

@media (max-width: 425px) {
  .about__descr {
    font-size: 12px;
    line-height: 16px;
    max-width: 288px;
  }
}
