.lab__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: var(--color-dark-blue);
  margin-bottom: 55px;
  margin-top: 0;
  padding-right: 37px;
  }

@media screen and (max-width: 1070px) {
  .lab__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 975px) {
  .lab__title {
    font-size: 24px;
    line-height: 37px;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .lab__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

