.popup-lab__text {
  grid-area: text;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 938px) {
  .popup-lab__text {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 752px) {
  .popup-lab__text {
    order: 3;
  }
}

@media screen and (max-width: 480px) {
  .popup-lab__text {
    font-size: 12px;
    line-height: 16px;
  }
}
