.education__content-image {
  width: 445px;
  border-radius: 10px;
  margin: 0;
  order:2;
}

@media screen and (max-width: 1168px) {
  .education__content-image {
    height: 282px;
  }
}

@media screen and (max-width: 1003px) {
  .education__content-image {
    width: 280px;
  }
}

@media screen and (max-width: 733px) {
  .education__content-image {
    margin-top: 16px;
    width: 256px;
    height: 160px;
    order:1;
  }
}
