.social__link {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.social__link:hover {
  opacity: 0.5;
  transition: 0.3;
}
