.header {
  padding: 13px 165px;
  background: var(--color-dark-blue);
}

@media screen and (max-width: 1305px) {
  .header {
    padding-left: 39px;
    padding-right: 39px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
