.header {
  background: url("../../images/background.jpg");
  background-repeat: no-repeat;
  height: 1024px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .header {
    background:url("../../images/background_m.png")  no-repeat center;
  }
}
