.publications__card {
  background-color: var(--color-white);
}

@media (max-width: 1023px) {
  .publications__card {
    padding-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .publications__card {
    padding-bottom: 16px;
  }
}
