.publications__arrow-left {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: -81px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 20px rgba(1, 54, 157, 0.15);
}
