.publications__card-italic-text {
  margin-bottom: 20px;
  min-height: 38px;
  min-width: 305px;
  height: 100%;
}

@media (max-width: 1023px) {
  .publications__card-italic-text {
    margin-bottom: 12px;
  }
}

@media (max-width: 425px) {
  .publications__card-italic-text {
    margin-bottom: 10px;
    min-height: 34px;
  }
}
