.publications__card-img {
  width: 310px;
  height: 223px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .publications__card-img {
    width: 291px;
    height: 158px;
  }
}

@media (max-width: 425px) {
  .publications__card-img {
    width: 256px;
    height: 160px;
  }
}
