.popup-lab__container {
  max-width: 1110px;
  max-height: 718px;
  background: var(--color-white);
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0 39px;
  display: grid;
  grid-template-areas: "image title"
                       "image  text1"
                       "image  text2"
                       "image  text3"
                       "image  list";
  grid-template-rows: repeat(minmax(33px, 200px));
  grid-template-columns: minmax(199px, 400px) 1fr;
  gap: 20px;
}

@media screen and (max-width: 1170px) {
  .popup-lab__container {
     grid-template-areas: "image title"
                       "image  text2"
                       "image  text3"
                       "image  list";
  }
}

@media screen and (max-width: 938px) {
  .popup-lab__container {
    height: 454px;
    grid-template-columns: minmax(199px, 300px) 1fr;
  }
}

@media screen and (max-width: 852px) {
  .popup-lab__container {
    grid-template-columns: 199px 1fr;
  }
}

@media screen and (max-width: 752px) {
  .popup-lab__container {
    grid-template-areas: none;
    grid-template-rows: none;
    grid-template-columns: none;
    gap: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .popup-lab__container {
    padding: 16px;
    margin: 0 16px;
    height: 444px;
  }
}
