.header__submenu {
  display: block;
  position: absolute;
  top: 61px;
  left: 0;
  background: var(--color-dark-blue);
  z-index: 10;
  transition: 0.5s ease-in-out;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 1053px) {
  .header__submenu {
    top: 52px;
  }
}
