.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000D26;
}

@media (max-width: 425px) {
  .card__text {
    font-size: 12px;
    line-height: 16px;
  }
}
