.card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-dark-blue);
  margin: 0;
  min-height: 133px;
  height: 100%;
}

@media (max-width: 425px) {
  .card__text {
    font-size: 12px;
    line-height: 16px;
    min-height: 128px;
  }
}
