.education__content-link {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark-blue);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1168px) {
  .education__content-link{
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 733px) {
.education__content-link{
  font-size: 12px;
  line-height: 16px;
  }
}
