.education__content-link {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-dark-blue);
  display: flex;
  align-items: center;
  position: relative;
}

.education__content-link::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 112px;
  background-image: url(../../../icons/nav_icons/arrow-right.svg);
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1168px) {
  .education__content-link{
    font-size: 14px;
    line-height: 19px;
  }
  .education__content-link::after {
    top: -3px;
    left: 90px;
  }
}

@media screen and (max-width: 733px) {
.education__content-link{
  font-size: 12px;
  line-height: 16px;
  }
  .education__content-link::after {
    top: -6px;
    left: 80px;
  }
}
