.lab__card {
  max-width: 255px;
  height: 430px;
  box-shadow: 0px 2.35349px 11.7674px rgba(1, 54, 157, 0.15);
  border-radius: 5.88372px;
  padding: 30px 20px 20px;
  text-align: center;
  box-sizing: border-box;
  background-size: contain;
  cursor: pointer;
  color: var(--color-blue);
  list-style: none;
  transition: transform 200ms ease-in-out;
}

.lab__card:hover {
  transform: translateY(-26px);
  color: var(--color-white);
  background-color: var(--color-emerald);
  background-image: linear-gradient(180deg, #009FAC 0%, rgba(224, 240, 255, 0) 100%, rgba(0, 159, 172, 0) 100%);
}

@media screen and (max-width: 1070px) {
  .lab__card {
    height: 369px;
  }
}

@media screen and (max-width: 975px) {
  .lab__card {
    padding: 10px;
    height: 242px;
  }
}
