.about__cards {
  position: relative;
  width: 1122px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .about__cards {
    max-width: 740px;
  }
}

@media (max-width: 1023px) {
  .about__cards {
    max-width: 720px;
  }
}

@media (max-width: 730px) {
  .about__cards {
    max-width: 344px;
  }
}


@media (max-width: 707px) {
  .about__cards {
    max-width: 288px;
  }
}
