.about__cards {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}


@media (max-width: 1300px) {
  .about__cards {
    max-width: 726px;
  }
}

@media (max-width: 1023px) {
  .about__cards {
    max-width: 690px;
  }
}
