.about__cards {
  position: relative;
  width: 1122px;
  margin: 0 auto;
}


.swiper-container {
  width: 1122px;
}


@media (max-width: 1300px) {
  .about__cards {
    max-width: 726px;
  }
}

@media (max-width: 1023px) {
  .about__cards {
    max-width: 690px;
  }
}
