.partners__item {
  padding: 0 10px 0 0;
  margin: 0 0 48px;
  display: flex;
}

.partners__item:nth-child(5n) {
  padding: 0;
}

@media (max-width: 1109px) {
  .partners__item {
    padding: 0 20px 0 0;
    margin: 0 0 30px;
  }

  .partners__item:nth-child(6) {
    padding: 0;
  }
}

@media (max-width: 689px) {
  .partners__item {
    padding: 0 10px 0 0;
    margin: 0 0 17px;
  }

  .partners__item:nth-child(7) {
    order: 1;
  }

  .partners__item:nth-child(1) {
    order: 2;
  }

  .partners__item:nth-child(3) {
    order: 3;
    padding: 0;
  }

  .partners__item:nth-child(4) {
    order: 4;
  }

  .partners__item:nth-child(10) {
    order: 5;
  }

  .partners__item:nth-child(8) {
    padding: 0;
    order: 6;
  }

  .partners__item:nth-child(6) {
    order: 7;
  }

  .partners__item:nth-child(5) {
    order: 8;
  }
}

