.card__date {
  margin: 0 0 8px 0;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-emerald);
}

@media (max-width: 425px) {
  .card__date {
    font-size: 12px;
    line-height: 17px;
  }
}
