.header__subtitle {
  padding: 0;
  margin: 12px 0 50px 0;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 768px) {
  .header__subtitle  {
    font-size: 18px;
  }
}

@media screen and (max-width: 418px) {
  .header__subtitle {
    font-size: 14px;
    line-height: 19px;
  }
}
