.team__button_right {
  right: 89px;
  background-image: url("../../../../icons/nav_icons/arrow-right-wh.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
