.team__button_left {
  left: 89px;
  background-image: url("../../../../icons/nav_icons/arrow-left-wh.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
