.about__btn {
  background-color: #001337;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  box-shadow: 0px 4px 30px rgba(224, 240, 255, 0.1);
}

.about__btn:hover, .about__btn:active {
  background-color: #009FAC;
  cursor: pointer;
}


@media (max-width: 1023px) {
  .about__btn {
    display: none;
  }
}

