.contact__input {
  background: #ffffff;
  border-radius: 10px;
  height: 60px;
  border: none;
  color: #009fac;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding-left: 20px;
  padding-right: 24px;
  outline: 0;
  height: 60px;
}

.contact__input::placeholder {
  color: #009fac;
}

@media screen and (max-width: 768px) {
  .contact__input  {
    font-size: 14px;
    line-height: 20px;
    height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .contact__input {
    font-size: 12px;
    line-height: 16px;
  }
}
