.partners__text {
  margin: 0 0 30px;
  padding: 0;
  color: var(--color-white);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1px;
  font-weight: 400;
  width: 100%;
  max-width: 920px;
}

@media (max-width: 975px) {
  .partners__text {
    margin-bottom: 37px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 320px) {
  .partners__text {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 16px;
  }
}
