.team__name {
  margin: 0;
  padding: 0;
  color: var(--color-dark-blue);
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}


@media (max-width: 1109px) {
  .team__name {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 689px) {
  .team__name {
    font-size: 12px;
    line-height: 16px;
  }
}
