.header__title-container {
  margin: 92px 165px 0 0;
  max-width: 445px;
  height: 480px;
  float:right;
}


@media screen and (max-width: 768px) {
  .header__title-container  {
    max-width: 445px;
    height: 470px;
    margin: 58px 0 0 39px;
    float: left;
  }
}

@media screen and (max-width: 418px) {
  .header__title-container {
    max-width: 288px;
    height: 324px;
    margin: 30px 0 0 16px;
  }
}
