.header__title {
  color: #ffffff;
  padding: 0;
  margin: 0;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 54px;
  line-height: 68px;
}



@media screen and (max-width:423px) {
  .header__title {
    font-size: 32px;
    line-height: 44px;
  }
}
