.header__title {
  color: var(--color-white);
  padding: 0;
  margin-top: 0;
  margin-bottom: 35px;
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 54px;
  line-height: 68px;
}



@media screen and (max-width:423px) {
  .header__title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 18px;
  }
}
