.partners__image_name_huawei {
  width: 219px;
  height: 48px;
}

@media (max-width: 1109px) {
  .partners__image_name_huawei {
    width: 146px;
    height: 32px;
  }
}

@media (max-width: 689px) {
  .partners__image_name_huawei {
    width: 91px;
    height: 20px;
  }
}
