.partners__image_name_gazprom {
  width: 112px;
  height: 48px;
}

@media (max-width: 1109px) {
  .partners__image_name_gazprom {
    width: 74px;
    height: 32px;
  }
}

@media (max-width: 689px) {
  .partners__image_name_gazprom {
    width: 47px;
    height: 20px;
  }
}


