.card {
  position: relative;
  box-sizing: border-box;
  max-width: 360px;
  border-radius: 10px;
  background-color: var(--color-light-blue);
  padding: 20px 20px 30px;
  margin-top: 15px;
}


@media (max-width: 1023px) {
  .card {
    max-width: 330px;
    padding: 20px;
  }
}

@media (max-width: 425px) {
  .card {
    padding: 16px;
    max-width: 288px;

  }
}

