.card {
  display: none;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #E0F0FF;
  /* padding: 20px 20px 30px; */
}

@media (max-width: 1023px) {
  .card {
   padding: 20px;
  }
}

@media (max-width: 425px) {
  .card {
    padding: 16px;
 }
}

