.project__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1110px;
}

@media (max-width: 1109px) {
  .project__wrapper {
    max-width: 690px;
  }
}

@media (max-width: 689px) {
  .project__wrapper {
    max-width: 288px;
  }
}
