.publications__cards {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .publications__cards {
    max-width: 726px;
  }
}


@media (max-width: 1023px) {
  .publications__cards {
    max-width: 720px;
  }
}

@media (max-width: 709px) {
  .publications__cards {
    max-width: 330px;
  }
}

  @media (max-width: 320px) {
    .publications__cards {
      padding: 0 16px 0;
    }
  }



