.header__menu-link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.1px;
  width: 100px;
  height: 44px;
  text-align: center;
}

.header__menu-link:hover {
  font-weight: 600;
  box-shadow: 0px 2px 0px #009FAC;
}

@media screen and (max-width: 1053px) {
  .header__menu-link{
    width: 100%;
  }
}